<div *ngIf="loading" style="height: 300px;" class="uk-flex uk-flex-center uk-flex-middle">
<mat-spinner></mat-spinner>
</div>
<mat-card *ngIf="!loading">
  <mat-card-title>{{ title }}</mat-card-title>
  <mat-card-subtitle>{{ desc }}</mat-card-subtitle>
  <mat-card-content>
    <button mat-button color="primary" (click)="productDetail({}, -1)">
      Tambah Product
    </button>
    <hr />
    <h2>Table Biasa</h2>
    <table class="uk-table uk-table-middle uk-table-divider">
      <thead>
        <th>No</th>
        <th>Judul</th>
        <th>Penulis</th>
        <th>Penerbit</th>
        <th>Tahun Terbit</th>
        <th>ISBN</th>
        <th>Harga</th>
        <th align="right">#</th>
      </thead>
      <tbody>
        <tr *ngFor="let book of books; let idx = index">
          <td>{{ idx + 1 }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.publisher }}</td>
          <td>{{ book.year }}</td>
          <td>{{ book.isbn }}</td>
          <td>{{ book.price }}</td>
          <td align="right">
            <button mat-button color="primary" (click)="productDetail(book, idx)">Edit</button>
            <button mat-button color="warn" (click)="deleteProduct(book.id,idx)"  [disabled]="loadingDelete[idx]">{{loadingDelete[idx] ? 'Deleting..':'Hapus'}}</button>
          </td>
        </tr>
      </tbody>
    </table>
    <hr />
    <h2>Table Material Angular</h2>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Judul</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef>Penulis</th>
        <td mat-cell *matCellDef="let element">{{ element.author }}</td>
      </ng-container>
      <ng-container matColumnDef="publisher">
        <th mat-header-cell *matHeaderCellDef>Penerbit</th>
        <td mat-cell *matCellDef="let element">{{ element.publisher }}</td>
      </ng-container>

      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef>Tahun Terbit</th>
        <td mat-cell *matCellDef="let element">{{ element.year }}</td>
      </ng-container>

      <ng-container matColumnDef="isbn">
        <th mat-header-cell *matHeaderCellDef>ISBN</th>
        <td mat-cell *matCellDef="let element">{{ element.isbn }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Harga</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-button (click)="getBooks()">Panggil Semua Buku</button>
      <button mat-button (click)="getBook(1877)">Panggil Buku Kode 1877</button> -->
  </mat-card-actions>
</mat-card>
